.roomCard{  
    max-height: 351px;
    width: 310px;
    background: #ffffff;
    border-radius: 15px;
    border: none;
    overflow: hidden;
    padding-top: 20px;
    box-shadow:0px 24px 48px 0 rgba(0,0,0,0.1);
}
.roomReserve{
    height: 150px;
}
.roomCard .imgBx{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;

}

.roomCard  .roomBtn{
    padding: 5px 12px;
    margin-top: 15px;
    color:white;
    border: none;
    border-radius: 100px;
}
.roomGrid{
    display: grid;
    grid-gap: 2rem;
    padding: 1rem;
    max-width: 1150px;
    margin: 0 auto;

}

@media (min-width: 600px) {
    .roomGrid {
        grid-template-columns: repeat(2, 1fr);
    }
}
@media (min-width: 800px) {
    .roomGrid {
        grid-template-columns: repeat(3, 1fr);
    }
}

